.draggable
{
    height: auto;
    width: auto;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    float: left;
    margin-left: 5px;
    padding: 10px;
    background-color: antiquewhite;
    cursor: default;
}
#datas
{
    overflow-y: scroll;
}